@media screen and (max-width: 48rem) {
    .container {
        width: 768px;
    }
    .header .container {
        height: 750px;
    }
    [aria-controls="navbarDropdown"] {
        display: block;
    }
    [aria-expanded="false"]~.nav,
    [aria-expanded="false"]~.header-divider {
        display: none;
    }
    [aria-expanded="true"]~.navbar {
        background-color: var(--white);
        border-bottom: 1px solid #677788;
        width: 737px;
        height: 86px;
    }
    [aria-expanded="true"]~.nav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 752px;
        height: 836px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 155px 6px 14px;
        gap: 73px;
        background: var(--white);
        z-index: -1;
    }
    [aria-expanded="true"]~.nav ul li a {
        margin-right: var(--size-20);
        color: var(--font-color-dark);
    }
    [aria-expanded="true"]~.header-divider {
        height: 1px;
        width: 737px;
        background-color: #e7e7e7;
        position: absolute;
        bottom: 0px;
        left: -14px;
    }
    .top-section-content .navbar {
        z-index: 5;
        flex-direction: row-reverse;
        width: 752px;
        height: 86px;
        position: relative;
    }
    .hero-section .hero-left,
    .hero-section .hero-right {
        width: 712px;
    }
    .top-section-content .hero-section {
        flex-direction: column;
        width: 708px;
        height: 664px;
    }
    .hero-section .hero-left {
        justify-content: unset;
        align-items: center;
    }
    .hero-left .title h1 {
        text-align: center;
    }
    .asana {
        left: 533px;
        top: 0px;
    }
    .calendar {
        left: 517px;
        top: 229px;
    }
    .weave {
        left: 414px;
        top: 99px;
    }
    .paypal {
        left: 112px;
        top: 99px;
    }
    .atlassian {
        left: 287px;
        top: 0px;
    }
    .google-ads {
        left: 230px;
        top: 209px;
    }
    .google {
        left: 110px;
        top: 0px;
    }
    .top-section-background,
    .top-section-background .background-gradient {
        width: 768px;
    }
    .top-section-background .background-gradient {
        border-right: 90px solid #E1E7EF;
    }
    .top-section-background .right-border {
        right: 88px;
        border-right: 130px solid #e1e7ef;
        border-top: 444px solid transparent;
    }
    .top-section-background .bottom-border {
        border-left: 768px solid transparent;
    }
    .key-benefits-section .container {
        padding: 5rem 0rem;
    }
    .key-benefits-section .benefit-list {
        flex-direction: column;
        height: 35.875rem;
    }
    .benefit-list .benefit-row {
        padding: 0rem;
        width: 44.25rem;
        height: 16.375rem;
    }
    .benefit-row .benefits-item {
        height: 242px;
        width: 21.1875rem;
    }
    .benefits-item .item-content {
        width: 18.6875rem;
        height: 13.875rem;
    }
    .container .banner-section-content,
    .banner-section-content .banner-left,
    .banner-section-content .banner-right,
    .banner-section-content .banner-right img {
        width: 708px;
    }
    .container .banner-section-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .banner-left .title {
        text-align: center;
    }
    .banner-left .actions {
        justify-content: end;
    }
    .why-front .why-front-title {
        width: 37.5rem;
    }
    .why-front .bullet-list {
        width: 48rem;
    }
    .bullet-list .bullet {
        width: 10.9375rem;
    }
    .title h6,
    .bullet:nth-child(3) .title h6 {
        font-weight: 500;
    }
    .bullet:nth-child(3) .title h6 {
        letter-spacing: -1px;
    }
    .bullet .top {
        width: 175px;
    }
    .top:before,
    .top:after {
        width: 58.5008px;
    }
    .first:before .last:after {
        display: none;
        content: none;
    }
    .banner-play-section .container {
        height: 364px;
        width: 768px;
    }
    .banner-play-section .banner-frame {
        width: 44.25rem;
        height: 22.75rem;
    }
    .banner-play-section .play-button {
        left: 319px;
        top: 125px;
    }
    .banner-play-section img {
        width: 708px;
        height: 304px;
    }
    .hubspot .container {
        flex-direction: column;
        padding: 0rem 0rem 40px;
        align-items: center;
    }
    .hubspot .hub-right {
        padding: 0px;
        align-items: center;
        width: 768px;
        height: 252px;
    }
    .hub-right .description {
        align-items: center;
        justify-content: center;
        width: 600px;
    }
    .hub-right .description p {
        text-align: center;
    }
    .brand-section .container {
        padding: var(--size-40) 0px;
        height: 208px;
    }
    .brand-section .brand-list {
        width: 768px;
        height: 59px;
    }
    .brand-section .brand-list img {
        width: 62px;
        height: 27px;
    }
    .pricing-section .container,
    .pricing-section .pricing-title {
        width: 768px;
    }
    .pricing-section .container {
        padding: 0px 0px 60px;
    }
    .pricing-section .plans-feature-list {
        flex-direction: column;
    }
    .plans-feature-list .plan {
        width: 680px;
        align-items: center;
    }
    .plan .plan-header,
    .plan .plan-divider {
        width: 600px;
    }
    .plan .plan-header {
        justify-content: center;
        align-items: center;
    }
    .plans-feature-list .plan-features {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem;
        gap: var(--size-10);
        width: 42.5rem;
    }
    .plan-features .plan-feature-item {
        width: 335px;
    }
    .hire-us-scn .container {
        flex-direction: column;
        height: 924px;
    }
    .hire-us-scn .hire-lt {
        flex-direction: row;
        align-items: center;
        padding: var(--size-40) var(--size-30) var(--size-20);
        width: 768px;
    }
    .hire-lt .hire-tp,
    .hire-us-titl .titl,
    .hire-us-titl .div {
        width: 396px;
    }
    .hire-us-titl .titl {
        justify-content: center;
    }
    .hire-lt .hire-bm {
        gap: var(--size-30);
    }
    .hire-rt .form {
        width: 708px;
    }
    .form-group input,
    .form-group select {
        width: 314px;
    }
    .form-data .text-area {
        width: 648px;
    }
    .top-footer .company-resources {
        flex-direction: column;
    }
    .company-resources .resource-top {
        gap: 80px;
        width: 417px;
    }
    .company-resources .resource-bottom {
        width: 304px;
    }
    .footer-main .footer-div {
        width: 708px;
    }
    .bottom-footer .social-links {
        width: 708px;
        gap: 80px;
        height: var(--size-30);
    }
}

@media screen and (max-width: 22.5rem) {
    .container {
        max-width: 360px;
        position: relative;
    }
    .header .container {
        height: 705px;
    }
    .container .top-section-content,
    .top-section-content .navbar,
    .top-section-content .hero-section {
        width: 330px;
    }
    [aria-expanded="true"]~.nav {
        width: 345px;
        height: 42.5rem;
    }
    [aria-expanded="true"]~.nav ul {
        flex-direction: column;
        align-items: center;
    }
    [aria-expanded="true"]~.header-divider {
        width: 360px;
    }
    .top-section-content .hero-section {
        padding: 40px 16px 0px;
    }
    .hero-section .hero-left,
    .hero-section .hero-right {
        width: 298px;
    }
    .hero-left .title {
        width: 299px;
        text-align: center;
    }
    .hero-left .title h1 {
        font-size: 26px;
    }
    .asana {
        left: 15rem;
    }
    .calendar {
        left: 239px;
        top: 219px;
    }
    .weave {
        left: 11.5rem;
    }
    .paypal {
        left: 0rem;
        top: 6.1875rem;
    }
    .atlassian {
        left: 7.125rem;
        top: 0rem;
    }
    .google-ads {
        left: 6.625rem;
        top: 13.0625rem;
    }
    .google {
        left: 0rem
    }
    .top-section-background {
        width: 22.5rem;
    }
    .top-section-background .background-gradient {
        width: 22.5rem;
        border-right: 3.5rem solid #E1E7EF;
    }
    .top-section-background .right-border {
        right: 3.5rem;
        border-top: 28.625rem solid transparent;
        border-right: 2.8125rem solid #e1e7ef;
    }
    .top-section-background .bottom-border {
        border-left: 22.5rem solid transparent;
        border-bottom: 5.5625rem solid var(--white);
    }
    .key-benefits-section .container {
        height: 85.4375rem;
        gap: 2.5rem;
        padding: 2.5rem 0rem;
    }
    .benefits-title {
        text-align: center;
    }
    .benefits-title p,
    .benefit-row .benefits-item {
        width: 20.5rem;
    }
    .benefit-row .benefits-item {
        height: 262px;
    }
    .key-benefits-section .benefit-list {
        width: 22.5rem;
        height: 72.375rem;
        padding: .625rem 1rem;
        align-items: center;
        justify-content: unset;
    }
    .benefit-list .benefit-row {
        flex-direction: column;
        width: 20.5rem;
        height: 34.625rem;
        justify-items: unset;
    }
    .benefits-item .item-content {
        width: 288px;
    }
    .banner-section .container {
        padding: 0rem 1rem 5rem;
        height: 31.25rem;
        justify-content: unset;
    }
    .container .banner-section-content,
    .banner-section-content .banner-left {
        width: 20.5rem
    }
    .banner-section-content .banner-left {
        padding: 1.6875rem 1.875rem;
        align-items: center;
    }
    .banner-left .actions,
    .banner-section-content .banner-right,
    .banner-section-content .banner-right img {
        width: 20.5rem;
    }
    .banner-left .actions {
        justify-content: center;
    }
    .banner-section-content .banner-right img {
        height: 13.0625rem;
    }
    .why-front .container {
        padding: 0rem 0rem 60px;
    }
    .why-front .why-front-title {
        padding: 0rem 16px;
        width: 360px;
    }
    .why-front .why-front-title p {
        width: 328px;
        line-height: 24px;
        font-size: var(--size-16);
    }
    .why-front .bullet-list {
        flex-direction: column;
        gap: 17px;
        width: 360px;
    }
    .bullet-list .bullet {
        width: unset;
        flex-direction: row;
        padding: 0rem;
    }
    .top:before,
    .top:after {
        display: none;
    }
    .bullet .top {
        width: var(--size-50);
    }
    .bullet .title {
        padding: 0rem var(--size-10);
    }
    .banner-play-section .container {
        width: unset;
        height: 197px;
        padding: 0rem 0rem var(--size-20);
    }
    .banner-play-section .banner-frame {
        width: 358px;
        height: 154px;
    }
    .banner-play-section .play-button {
        left: 144px;
        top: 42px;
        z-index: 1;
    }
    .banner-play-section img {
        width: 358px;
        height: 154px;
    }
    .hubspot .container {
        width: unset;
        padding: 0rem;
        align-items: flex-start;
        gap: unset;
    }
    .hub-left {
        width: 360px;
        height: 382px;
    }
    .hub-left img:nth-child(1) {
        width: 262px;
        height: 300px;
        left: 65px;
    }
    .hub-left img:nth-child(2) {
        width: 141px;
        height: 261px;
        left: 28px;
        top: 78px;
    }
    .hubspot .hub-right {
        width: unset;
        height: 316px;
    }
    .hub-right .description {
        width: unset;
        padding: 0rem var(--size-16);
    }
    .hub-right .person {
        padding: 0rem var(--size-20) 0rem 0rem;
        align-items: center;
        width: 147px;
    }
    .person h4 {
        font-size: var(--size-18);
        line-height: 22px;
    }
    .brand-section .container {
        padding: var(--size-40) 0rem 60px;
        height: 400px;
    }
    .brand-section .brand-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: unset;
        height: unset;
        gap: var(--size-20);
    }
    .brand-section .brand-list img {
        width: 96px;
        height: unset;
    }
    .pricing-section .container {
        width: unset;
    }
    .pricing-section .pricing-title {
        width: 360px;
    }
    .pricing-section .plans-feature-list {
        width: 360px;
        padding: 0px var(--size-16);
    }
    .plans-feature-list .plan {
        width: 328px;
    }
    .plans-feature-list .plan-features {
        width: 20.5rem;
    }
    .plan .plan-header {
        width: 248px;
    }
    .plan .plan-divider {
        width: 248px;
    }
    .plan-features .plan-row-1,
    .plan-features .plan-row-2 {
        flex-direction: column;
    }
    .plan-features .plan-feature-item {
        padding: var(--size-20) 0rem;
    }
    .hire-us-scn .container {
        height: unset;
    }
    .hire-us-scn .hire-lt {
        padding: var(--size-40) var(--size-16) var(--size-20);
        width: unset;
        flex-direction: column;
        height: 457px;
    }
    .hire-lt .hire-tp,
    .hire-us-titl .titl,
    .hire-us-titl .div,
    .hire-us-titl {
        width: 330px;
    }
    .hire-us-titl .titl {
        align-items: center;
    }
    .hire-div {
        width: 330px;
    }
    .hire-phrs {
        text-align: center;
    }
    .hire-bm .person {
        text-align: center;
    }
    .hire-rt {
        padding: var(--size-30) var(--size-16);
        gap: var(--size-10);
        height: unset;
    }
    .hire-rt .form {
        width: 330px;
        height: 884px;
    }
    .form .form-data {
        width: 270px;
        height: 742px;
    }
    .form-group,
    .text-area {
        flex-direction: column;
    }
    .form-data .text-area {
        width: 270px;
    }
    .form-group input,
    .form-group select {
        width: 270px;
    }
    .private-policy a:nth-child(2) {
        display: none;
    }
    .footer-main .container {
        padding: 5rem 1rem 2.5rem;
        width: unset;
    }
    .footer-main .top-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .top-footer .company-info {
        align-items: center;
        justify-content: center;
    }
    .company-info .address-phone {
        align-items: center;
        justify-content: center;
    }
    .address-phone a {
        justify-content: center;
    }
    .company-resources .resource-top,
    .company-resources .resource-bottom {
        flex-direction: column;
        width: 20.5rem;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
    .company-resources .resource-list {
        align-items: center;
        justify-content: center;
    }
    .resource-list ul {
        align-items: center;
    }
    .footer-main .footer-div {
        width: 328px;
    }
    .bottom-footer .social-links {
        justify-content: center;
        width: 20.5rem;
        flex-direction: column;
        height: unset;
        gap: 1.875rem;
    }
    .social-links .social-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .all-rights {
        width: 20.5rem;
    }
    .all-rights p:nth-child(1) {
        text-align: center;
    }
    .all-rights p:nth-child(2) {
        width: unset;
    }
}