@media screen and (max-width: 768px) {
    .container{
        max-width: 48rem;
    }

    .header .container {
        height: 46.875rem;
    }

    [aria-controls="navbarDropdown"] {
        display: block;
    }
    [aria-expanded="false"]~.navbar .nav {
        display: none;
    }
    [aria-expanded="true"]~.navbar {
        background-color: var(--white);
        border-bottom: .0625rem solid #677788;
        width: 768px;
        height: 86px;
    }
    [aria-expanded="true"]~.navbar .nav {
        position: absolute;
        top: 5.375rem;
        left: 0rem;
        width: 48rem;
        height: 42.5625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5.375rem .375rem .875rem;
        gap: 4.5625rem;
        background: var(--white);
        z-index: 1;
    }
    [aria-expanded="true"]~.navbar .nav ul li a {
        margin-right: var(--size-20);
        color: var(--font-color-dark);
    } 
    
    .top-section-content .navbar {
        width: 48rem;
    }

    
    .hero-section .hero-left,
    .hero-section .hero-right {
        width: 44.5rem;
    }

    .top-section-content .hero-section{
        flex-direction: column;
    }

    .hero-section .hero-left {
        justify-content: unset;
        align-items: center;
    }

    .hero-left .title h1 {
        text-align: center;
    }
    .asana {
        left: 533px;
        top: 0px;
    }
    
    .calendar {
        left: 517px;
        top: 229px;
    }
    
    .weave {
        left: 414px;
        top: 99px;
    }
    
    .paypal {
        left: 112px;
        top: 99px;
    }
    
    .atlassian {
        left: 287px;
        top: 0px;
    }
    
    .google-ads {
        left: 230px;
        top: 209px;
    }
    
    .google {
        left: 110px;
        top: 0px;
    }

    .top-section-background,
    .top-section-background .background-gradient {
        width: 768px;
    }

    .top-section-background .background-gradient {
        border-right: 100px solid #E1E7EF;
    }

    .top-section-background .right-border {
        right: 6.25rem;
        border-right: 130px solid #e1e7ef;
        border-top: 444px solid transparent;
    }

    .top-section-background .bottom-border{
        border-left: 768px solid transparent;
    }

    .key-benefits-section .container {
        padding: 5rem 0rem;
    }

    .key-benefits-section .benefit-list {
        flex-direction: column;
        height: 35.875rem;
    }

    .benefit-list .benefit-row {
        padding: 0rem;
        width: 44.25rem;
        height: 16.375rem;
    }

    .benefit-row .benefits-item {
        height: 242px;
        width: 21.1875rem;
    }

    .benefits-item .item-content {
        width: 18.6875rem;
        height: 13.875rem;
    }
}