@media screen and (max-width: 48rem) {
    .container{
        max-width: 48rem;
    }

    .header .container {
        height: 46.875rem;
    }

    [aria-controls="navbarDropdown"] {
        display: block;
    }
    [aria-expanded="false"]~.nav,
    [aria-expanded="false"]~.header-divider {
        display: none;
    }
    [aria-expanded="true"]~.navbar {
        background-color: var(--white);
        border-bottom: .0625rem solid #677788;
        width: 48rem;
        height: 5.375rem;
    }
    [aria-expanded="true"]~.nav {
        position: absolute;
        top: 0rem;
        left: 0rem;
        width: 47rem;
        height: 52.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9.6875rem .375rem .875rem;
        gap: 4.5625rem;
        background: var(--white);
        z-index: -1;
    }
    [aria-expanded="true"]~.nav ul li a {
        margin-right: var(--size-20);
        color: var(--font-color-dark);
    } 
    
    [aria-expanded="true"]~.header-divider {
        height: .0625rem;
        width: 48rem;
        background-color: #e7e7e7;
        position: absolute;
        bottom: 0rem;
        left: -0.9375rem;
    }

    .top-section-content .navbar {
        z-index: 5;
        flex-direction: row-reverse;
        width: 47rem;
        height: 5.375rem;
        position: relative;
    }

    
    .hero-section .hero-left,
    .hero-section .hero-right {
        width: 44.5rem;
    }

    .top-section-content .hero-section{
        flex-direction: column;
        width: 44.25rem;
        height: 41.5rem;
    }

    .hero-section .hero-left {
        justify-content: unset;
        align-items: center;
    }

    .hero-left .title h1 {
        text-align: center;
    }
    .asana {
        left: 33.3125rem;
        top: 0rem;
    }
    
    .calendar {
        left: 32.3125rem;
        top: 14.3125rem;
    }
    
    .weave {
        left: 25.875rem;
        top: 6.1875rem;
    }
    
    .paypal {
        left: 7rem;
        top: 6.1875rem;
    }
    
    .atlassian {
        left: 17.9375rem;
        top: 0rem;
    }
    
    .google-ads {
        left: 14.375rem;
        top: 13.0625rem;
    }
    
    .google {
        left: 6.875rem;
        top: 0rem;
    }

    .top-section-background,
    .top-section-background .background-gradient {
        width: 48rem;
    }

    .top-section-background .background-gradient {
        border-right: 5.625rem solid #E1E7EF;
    }

    .top-section-background .right-border {
        right: 5.625rem;
        border-right: 8.125rem solid #e1e7ef;
        border-top: 27.75rem solid transparent;
    }

    .top-section-background .bottom-border{
        border-left: 48rem solid transparent;
    }

    .key-benefits-section .container {
        padding: 80px 0px;
    }

    .key-benefits-section .benefit-list {
        flex-direction: column;
        height: 574px;
    }

    .benefit-list .benefit-row {
        padding: 0px;
        width: 708px;
        height: 262px;
    }

    .benefit-row .benefits-item {
        height: 15.125rem;
        width: 339px;
    }

    .benefits-item .item-content {
        width: 299px;
        height: 222px;
    }

    .container .banner-section-content,
    .banner-section-content .banner-left,
    .banner-section-content .banner-right,
    .banner-section-content .banner-right img{
        width: 44.25rem;
    }

    .container .banner-section-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-left .title {
        text-align: center;
    }

    .banner-left .actions {
        justify-content: end;
    }

    .why-front .why-front-title {
        width: 600px;
    }

    .why-front .bullet-list {
        width: 768px;
    }

    .bullet-list .bullet {
        width: 175px;
    }

    .title h6,
    .bullet:nth-child(3) .title h6 {
        font-weight: 500;
    }

    .bullet:nth-child(3) .title h6 {
        letter-spacing: -0.0625rem;

    }

    .bullet .top {
        width: 10.9375rem;
    }

    .top:before,
    .top:after {
        width: 3.6563rem;
    }

    .first:before .last:after {
        display: none;
        content: none;
    }

    .banner-play-section .container {
        height: 22.75rem;
        width: 44.25rem;
    }

    .banner-play-section .banner-frame {
        width: 708px;
        height: 364px;
    }

    .banner-play-section .play-button {
        left: 19.9375rem;
        top: 7.8125rem;
    }

    .banner-play-section img {
        width: 44.25rem;
        height: 19rem;
    }

    .hubspot .container {
        flex-direction: column;
        padding: 0px 0px 2.5rem;
        align-items: center;
    }

    .hubspot .hub-right {
        padding: 0rem;
        align-items: center;
        width: 48rem;
        height: 15.75rem;
    }

    .hub-right .description {
        align-items: center;
        justify-content: center;
        width: 37.5rem;
    }

    .hub-right .description p {
        text-align: center;
    }

    .brand-section .container {
        padding: var(--size-40) 0rem;
        height: 13rem;
    }

    .brand-section .brand-list {
        width: 48rem;
        height: 3.6875rem;
    }

    .brand-section .brand-list img {
        width: 3.875rem;
        height: 1.6875rem;
    }

    .pricing-section .container,
    .pricing-section .pricing-title {
        width: 48rem;
    }

    .pricing-section .container {
        padding: 0rem 0rem 3.75rem;
    }

    .pricing-section .plans-feature-list {
        flex-direction: column;
    }

    .plans-feature-list .plan{
        width: 42.5rem;
        align-items: center;
    }

    .plan .plan-header,
    .plan .plan-divider {
        width: 37.5rem;
    }

    .plan .plan-header {
        justify-content: center;
        align-items: center;
    }

    .plans-feature-list .plan-features {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: var(--size-10);
        width: 680px;
    }

    .plan-features .plan-feature-item {
        width: 20.9375rem;
    }

    .hire-us-scn .container {
        flex-direction: column;
        height: 57.75rem;
    }

    .hire-us-scn .hire-lt {
        flex-direction: row;
        align-items: center;
        padding: var(--size-40)  var(--size-30) var(--size-20);
        width: 48rem;
    }

    .hire-lt .hire-tp,
    .hire-us-titl .titl,
    .hire-us-titl .div {
        width: 24.75rem;
    }

    .hire-us-titl .titl {
        justify-content: center;
    }

    .hire-lt .hire-bm {
        gap: var(--size-30);
    }

    .hire-rt .form {
        width: 44.25rem;
    }

    .form-group input,
    .form-group select {
        width: 19.625rem;
    }

    .form-data .text-area {
        width: 40.5rem;
    }

    .top-footer .company-resources {
        flex-direction: column;
    }

    .company-resources .resource-top {
        gap: 5rem;
        width: 26.0625rem;
    } 

    .company-resources .resource-bottom {
        width: 19rem;
    }

    .footer-main .footer-div{
        width: 44.25rem;
    }

    .bottom-footer .social-links {
        width: 44.25rem;
        gap: 5rem;
        height: var(--size-30);
    }

}