.header .container {
    position: relative;
}

.top-section-content,
.top-section-content .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
}

.top-section-content .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-10) var(--size-30);
    width: 64rem;
}

.logo img {
    width: 9.6875rem;
    height: 2.875rem;
}

.navbar .nav,
.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .375rem var(--size-14);
    gap: var(--size-30);
}

.nav ul {
    align-items: flex-start;
    padding: 0rem;
    gap: var(--size-20);
}

.nav .nav-link:hover {
    color: var(--font-color-link);
}

.nav-link a {
    line-height: 1.0625rem;
}

.nav .button {
    font-size: var(--size-12);
    font-weight: 700;
    line-height: .9375rem;
}

.hero-section,
.hero-section .hero-left,
.hero-left .title,
.hero-left .actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--size-40) var(--size-30) 0rem;
    gap: var(--size-10);
}

.hero-section .hero-left,
.hero-left .title {
    flex-direction: column;
    justify-content: center;
    gap: var(--size-30);
    padding: 0px 0px 3.75rem;
    width: 29.8125rem;
}

.hero-left .title {
    justify-content: unset;
    padding: 0px;
    gap: .6875rem;
    width: 20.875rem;
}

.hero-left .actions {
    align-items: center;
    padding: 0px;
    gap: 1.5rem;
}

.hero-right {
    position: relative;
    width: 29.8125rem;
    height: 25.375rem;
}

.hero-right .bubble,
.hero-right .small-bubble {
    position: absolute;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    background: var(--white);
}

.hero-right .bubble,
.hero-right .small-bubble {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: flex-start;
    padding: var(--size-16);
    border-radius: var(--size-40);
}

.hero-right .small-bubble {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: var(--size-30);
    padding: var(--size-10);
}

.hero-right .bubble img {
    width: 3rem;
    height: 3rem;
}

.hero-right .small-bubble img {
    width: var(--size-40);
    height: var(--size-40);
}

.asana {
    left: 23.75rem;
    top: .625rem;
}

.calendar {
    left: 22.75rem;
    top: 19.375rem;
}

.weave {
    left: 16.375rem;
    top: 10.75rem;
}

.paypal {
    left: 2.75rem;
    top: 10.75rem;
}

.atlassian {
    left: 10.9375rem;
    top: .625rem;
}

.google-ads {
    left: 9.6875rem;
    top: 18.125rem;
}

.google {
    left: 4rem;
    top: .625rem;
}

.top-section-background,
.top-section-background .background-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 64rem;
    height: 32.3125rem;
    z-index: -1;
}

.top-section-background .background-gradient {
    width: 1024px;
    height: 32.3125rem;
    left: 0px;
    top: 0px;
    background: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.16%, rgba(217, 217, 217, 0) 55.85%);
    border-right: 8.4375rem solid #E1E7EF;
}

.top-section-background .right-border {
    position: absolute;
    right: 8.375rem;
    top: 0rem;
    border-right: 159px solid #e1e7ef;
    border-top: 435px solid transparent;
}

.top-section-background .bottom-border {
    position: absolute;
    bottom: 0rem;
    border-left: 64rem solid transparent;
    border-bottom: 7.5rem solid var(--white)
}

.key-benefits-section .container,
.benefits-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px 80px;
    gap: 60px;
}

.benefits-title {
    padding: 0rem;
    gap: var(--size-10);
}

.benefits-title p {
    font-size: var(--size-16);
    line-height: 1.5rem;
}

.benefit-list .benefits-item {
    height: 310px;
}

.benefit-list,
.benefit-list .benefits-item,
.benefits-item .item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 30px;
    gap: 30px;
}

.benefit-list .benefits-item,
.benefits-item .item-content {
    flex-direction: column;
    justify-content: unset;
    padding: 20px;
    gap: 20px;
    background: var(--white);
    border: 1px solid #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.benefits-item .item-content {
    padding: 0rem;
    background: transparent;
    border: none;
    box-shadow: none;
}

.item-content .top-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-content img {
    width: 50px;
    height: 50px;
}

.item-content .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.benefits-item:nth-child(3) .title {
    flex-direction: row;
    gap: 10px;
}

.item-content p {
    line-height: 20px;
}

.item-content .learn-more {
    line-height: 1.0625rem;
}

.banner-section .container,
.container .banner-section-content,
.banner-section-content .banner-left,
.banner-left .title,
.banner-left .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px 80px;
    gap: 10px;
}

.container .banner-section-content,
.banner-left .actions {
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    width: 964px;
    height: 470px;
    background: #F8FAFE;
}

.container .banner-section-content {
    align-items: unset;
}

.banner-section-content .banner-left {
    justify-content: center;
    padding: 10px 30px;
    gap: 26px;
    width: 450px;
}

.banner-left .title {
    padding: 0px;
    gap: 11px;
}

.banner-left .actions {
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 390px;
    height: 48px;
}

.banner-section-content .banner-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 504px;
}

.banner-section-content .banner-right img {
    width: 504px;
    height: 353px;
}