.header .container {
    position: relative;
}

.top-section-content,
.top-section-content .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.top-section-content .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-10) var(--size-30);
    width: 1024px;
}

.logo img {
    width: 155px;
    height: 46px;
}

.navbar .nav,
.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px var(--size-14);
    gap: var(--size-30);
}

.nav ul {
    align-items: flex-start;
    padding: 0px;
    gap: var(--size-20);
}

.nav .nav-link:hover {
    color: var(--font-color-link);
}

.nav-link a {
    line-height: 17px;
}

.nav .button {
    font-size: var(--size-12);
    font-weight: 700;
    line-height: 15px;
}

.hero-section,
.hero-section .hero-left,
.hero-left .title,
.hero-left .actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--size-40) var(--size-30) 0px;
    gap: var(--size-10);
}

.hero-section .hero-left,
.hero-left .title {
    flex-direction: column;
    justify-content: center;
    gap: var(--size-30);
    padding: 0rem 0rem 60px;
    width: 477px;
}

.hero-left .title {
    justify-content: unset;
    padding: 0rem;
    gap: 11px;
    width: 334px;
}

.hero-left .actions {
    align-items: center;
    padding: 0rem;
    gap: 24px;
}

.hero-right {
    position: relative;
    width: 477px;
    height: 406px;
}

.hero-right .bubble,
.hero-right .small-bubble {
    position: absolute;
    box-shadow: 0rem 3px 13px rgba(0, 0, 0, 0.25);
    background: var(--white);
}

.hero-right .bubble,
.hero-right .small-bubble {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: flex-start;
    padding: var(--size-16);
    border-radius: var(--size-40);
}

.hero-right .small-bubble {
    width: 60px;
    height: 60px;
    border-radius: var(--size-30);
    padding: var(--size-10);
}

.hero-right .bubble img {
    width: 48px;
    height: 48px;
}

.hero-right .small-bubble img {
    width: var(--size-40);
    height: var(--size-40);
}

.asana {
    left: 380px;
    top: 10px;
}

.calendar {
    left: 364px;
    top: 310px;
}

.weave {
    left: 262px;
    top: 172px;
}

.paypal {
    left: 44px;
    top: 172px;
}

.atlassian {
    left: 175px;
    top: 10px;
}

.google-ads {
    left: 155px;
    top: 290px;
}

.google {
    left: 64px;
    top: 10px;
}

.top-section-background,
.top-section-background .background-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 1024px;
    height: 517px;
    z-index: -1;
}

.top-section-background .background-gradient {
    width: 1024px;
    height: 517px;
    left: 0rem;
    top: 0rem;
    background: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.16%, rgba(217, 217, 217, 0) 55.85%);
    border-right: 135px solid #E1E7EF;
}

.top-section-background .right-border {
    position: absolute;
    right: 134px;
    top: 0px;
    border-right: 159px solid #e1e7ef;
    border-top: 435px solid transparent;
}

.top-section-background .bottom-border {
    position: absolute;
    bottom: 0px;
    border-left: 1024px solid transparent;
    border-bottom: 120px solid var(--white)
}

.key-benefits-section .container,
.benefits-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0rem 80px;
    gap: 60px;
}

.benefits-title {
    padding: 0px;
    gap: var(--size-10);
}

.benefits-title p {
    font-size: var(--size-16);
    line-height: 24px;
}

.benefit-list .benefits-item {
    height: 310px;
}

.benefit-list,
.benefit-list .benefits-item,
.benefits-item .item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: var(--size-10) var(--size-30);
    gap: var(--size-30);
}

.benefit-list .benefits-item,
.benefits-item .item-content {
    flex-direction: column;
    justify-content: unset;
    padding: var(--size-20);
    gap: var(--size-20);
    background: var(--white);
    border: 1px solid #fff;
    box-shadow: 0rem 10px 20px rgba(0, 0, 0, 0.15);
}

.benefits-item .item-content {
    padding: 0px;
    background: transparent;
    border: none;
    box-shadow: none;
}

.item-content .top-part {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
}

.item-content img {
    width: var(--size-50);
    height: var(--size-50);
}

.item-content .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: var(--size-20);
}

.benefits-item:nth-child(3) .title {
    flex-direction: row;
    gap: var(--size-10);
}

.item-content p {
    line-height: var(--size-20);
}

.item-content .learn-more {
    line-height: 17px;
}

.banner-section .container,
.container .banner-section-content,
.banner-section-content .banner-left,
.banner-left .title,
.banner-left .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem var(--size-30) 80px;
    gap: var(--size-10);
}

.container .banner-section-content,
.banner-left .actions {
    flex-direction: row;
    padding: 0rem;
    gap: var(--size-10);
    width: 964px;
    height: 470px;
    background: #F8FAFE;
}

.container .banner-section-content {
    align-items: unset;
}

.banner-section-content .banner-left {
    justify-content: center;
    padding: var(--size-10) var(--size-30);
    gap: 26px;
    width: 450px;
}

.banner-left .title {
    padding: 0rem;
    gap: 11px;
}

.banner-left .actions {
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 390px;
    height: 48px;
}

.banner-section-content .banner-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0rem;
    gap: var(--size-10);
    width: 504px;
}

.banner-section-content .banner-right img {
    width: 504px;
    height: 353px;
}

.why-front .container,
.why-front .why-front-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 80px;
    gap: var(--size-40);
}

.why-front .why-front-title {
    padding: 0px;
    gap: var(--size-10);
    width: 600px;
    text-align: center;
}

.why-front .bullet-list,
.bullet-list .bullet,
.bullet .top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem 34px;
}

.bullet-list .bullet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 0px;
    gap: 24px;
    width: 14.9375rem;
}

.bullet .top {
    align-items: center;
    padding: 0rem;
    gap: 4px;
    width: 14.9375rem;
}

.top:before,
.top:after {
    display: block;
    content: "";
    width: 90.5px;
    height: 1px;
    background: #E6E9F2;
}

.first .top:before,
.last .top:after {
    background: transparent;
}

.top .bullet-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size-10);
    gap: var(--size-10);
    width: var(--size-50);
    height: var(--size-50);
    background: #ECF2FF;
    border-radius: 25px;
}

.bullet-circle .dot {
    width: .375rem;
    height: .375rem;
    background: #0066FF;
    border-radius: .1875rem;
}